<div class="container">
  <h1>New ToDo Form</h1>
</div>
<div class="container">
  <div class="row">
    <div class="col">
      <form #formCtrl="ngForm" ngNativeValidate>
        <div class="form-group">
          <label for="task">Task</label>
          <input type="text" class="form-control" id="task" name="name" [(ngModel)]="name" ngControl="fieldCtrl"
            required>
        </div>
        <!-- <div class="form-group">
          <label for="category">Category</label>
          <input type="text" class="form-control" name="category" [(ngModel)]="category" ngControl="fieldCtrl" required>
        </div> -->

        <div class="form-group">
          <select  class="custom-select" name="category" [(ngModel)]="category">
            <option value="">Select category</option>
            <option *ngFor="let cate of categories">{{cate.category}}</option>
            </select>
            <!-- <small class="text-danger" [class.d-none]="topic.valid || topic.untouched">Please choose a category</small> -->
        </div>





        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" name="status" [(ngModel)]="status">
          <label class="form-check-label" for="status">Completed</label>
        </div>
        <button type="reset" class="btn btn-warning">Clear</button>
        <button [disabled]="!formCtrl.form.valid" class="btn btn-primary ml-2" (click)="onSubmitClicked()">Submit</button>
      </form>
    </div>
  </div>
</div>